@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    font-family: Poppins-Regular, sans-serif;
}

.container-contact100 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.container-contact100-form-btn {
    padding-bottom: 13px;
    border-bottom: 2px solid #d9d9d9;
}

.wrap-contact100 {
    filter: drop-shadow(2px 4px 6px black);
    background: #fff;
    border-radius: 30px;
    padding: 50px;
}

.wrap-contact100-form-btn {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
    left: 0;
}

.contact100-form-title {
    font-family: Poppins-Bold;
    font-size: 40px;
    color: #007bff;
    text-align: center;
}

.contact100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -o-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -moz-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn {
    width: 100%;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 20px;
    color: #fff;
}

.contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.contact100-result-title {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #108c47;
    text-align: center;
    padding: 10px 0px 10px 0px;
    display: none;
}

p {
    font-family: Poppins-Medium;
    font-size: 20px;
}

#analysis-form {
    padding: 15px;
}

#image-picked {
    padding: 20px 0px 20px 0px;
}

.label-input100 {
    font-size: 17px;
}

.gen_result {
    font-size: 22px;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 50px 0px 50px 0px;
    }

    .gen_result {
        padding: 0px 20px 0px;
    }

    #analysis-form {
        padding: 20px 0px 20px 0px;
    }

    .label-input100 {
        padding-left: 4%;
    }

    #inp_file {
        padding-left: 2%;
    }

    #image-picked {
        padding-left: 10%;
        height: 90%;
        width: 90%;
    }

    .container-contact100-form-btn {
        padding : 0px 13px 13px 13px;
    }
}